$bone: #EEEEEE;
$pvc: #DFDFDF;
$egg: #D9D9D9;
$silver: #C6C6C6;
$ash: #6C6C6C;
$jet: #333333;

$color-bg: $bone;
$color-surface-lighter: $pvc;
$color-surface-light: $egg;
$color-surface-dark: $silver;
$color-text: $jet;
$color-subtext: $ash;