$spacing-25: 0.25rem;
$spacing-50: 0.50rem;
$spacing-100: 1rem;
$spacing-150: 1.5rem;
$spacing-200: 2rem;
$spacing-300: 3rem;
$spacing-400: 4rem;

$rounding: 8px;

$content-width: 864px;

$phone-max-width: 683px;
$tablet-max-width: 899px;